@model Demo.BL.Models.DepartmentVM
@{
    ViewData["Title"] = "Delete";
}

<div class="block-header">
    <h2>Delete</h2>
</div>



<form asp-controller="Department" asp-action="Delete">

    <label for="Id">Department Id</label>
    <input type="text" class="form-control" asp-for="Id" disabled />
    <br />

    <label for="Name">Department Name</label>
    <input type="text" class="form-control" asp-for="Name" disabled/>
    <br />

    <label for="Code">Department Code</label>
    <input type="text" class="form-control" asp-for="Code" disabled/>
    <br />
    <br />


    <center>

        <a asp-controller="Department" asp-action="Index" class="btn btn-primary">Back to data</a>
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-controller="Department" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-success">Edit</a>
    </center>
</form>

