@model Demo.BL.Models.EmployeeVM
@inject Demo.BL.Interface.ICountryRep country
@{
    ViewData["Title"] = "Create";
}

@*@section BootstrapSelection
    {
   <link href="~/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />
}*@

<div class="block-header">
    <h2>Create New Employee</h2>
</div>

<form class="form-group" asp-controller="Employee" asp-action="Create" enctype="multipart/form-data">

    <div asp-validation-summary="All" class="text-danger"></div>

    @*using for and id to when click to label make focus to text to write*@
    <label for="Name">Department Name</label>
    <input type="text" class="form-control" asp-for="Name" />
    <span asp-validation-for="Name" class="text-danger"></span> @*use to make validation*@
    <br />

    <label for="Salary">Salary</label>
    <input type="text" class="form-control" asp-for="Salary" />
    <span asp-validation-for="Salary" class="text-danger"></span>
    <br />

    <label for="Email">Email</label>
    <input type="text" class="form-control" asp-for="Email" />
    <span asp-validation-for="Email" class="text-danger"></span>
    <br />

    <label for="HireDate">HireDate</label>
    <input type="date" class="form-control" asp-for="HireDate" />
    <span asp-validation-for="HireDate" class="text-danger"></span>
    <br />

    <label for="Adress">Adress</label>
    <input type="text" class="form-control" asp-for="Adress" />
    <span asp-validation-for="Adress" class="text-danger"></span>
    <br />

    <label for="Notes">Notes</label>
    <textarea rows="4" class="form-control" asp-for="Notes"></textarea>
    <span asp-validation-for="Notes" class="text-danger"></span>
    <br />

    <div class="demo-checkbox">
        <input type="checkbox" asp-for="IsActive" checked="">
        <label asp-for="IsActive">IsActive</label>
        <span asp-validation-for="IsActive" class="text-danger"></span>
    </div>
    <br />

    <select asp-for="DepartmentId" asp-items="(SelectList)ViewBag.Departmentlist">
        <option>Choose Department</option>

    </select>
    <br />

    <select id="CountryList">
        <option>Choose Country</option>
        @foreach (var item in country.Get())
        {
            <option value="@item.Id">@item.Name</option>
        }

    </select>
    <br />

    <select id="CityList" class="form-control">
        <option>Choose City</option>

    </select>
    <br />



    <select asp-for="DistrictId" class="form-control">
        <option>Choose District</option>

    </select>
    <br />


    <label for="Cv">CV</label>
    <input type="file" class="form-control" asp-for="Cv" />
    <br />

    <label for="Photo">Image</label>
    <input type="file" class="form-control" asp-for="Photo" />
    <br />

    <br />
    <center>
        <input type="submit" value="save" class="btn btn-primary" />
        <input type="reset" value="cancel" class="btn btn-danger" />
    </center>
</form>

@section MicrosoftValidation{

    <script src="~/plugins/jquery-validation/jquery.validate.js"></script>
    <script src="~/plugins/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

                     @*for Ajax*@
<script>

    $(function () {

        $("#CountryList").change(function () {

            var CountryId = $("#CountryList option:selected").val();

            $("#CityList").empty();
            $("#CityList").append("<option>Choose City</option>");

            $.ajax({

                type: "POST",
                url: "/Employee/GetCityDataByCountryId",
                data: { CtryId: CountryId },
                success: function (res) {
                    console.log(res);
                    $.each(res, function (i, e) {
                        $("#CityList").append("<option value='" + e.Id + "'>" + e.Name + "</option>");
                    });
                }

            });


        });

        $("#CityList").change(function () {

            var CityId = $("#CityList option:selected").val();

            $("#DistrictId").empty();
            $("#DistrictId").append("<option>Choose District</option>");

            $.ajax({

                type: "POST",
                url: "/Employee/GetDistrictDataByCityId",
                data: { CtyId: CityId },
                success: function (res) {
                    $.each(res, function (i,e) {
                        $("#DistrictId").append("<option value='" + e.Id + "'>" + e.Name + "</option>");
                    });
                }

            });


        });


    });



</script>
}